
spring:
  application:
    name: maintenance-service

  datasource:
    username: postgres
    password: 12345
    url: jdbc:postgresql://localhost:5432/maintenance

  jpa:
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

  kafka:
    producer:
      bootstrap-servers: http://192.168.1.102:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.int}:${random.value}
    prefer-ip-address: true
server:
  port: 0
