server:
  port: 8081

spring:
  application:
    name: inventory-service

  datasource:
    username: postgres
    password: 12345
    url: jdbc:postgresql://localhost:5432/inventory

  jpa:
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

